# Logs
*.docx
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock
*.exe

# dotenv environment variables file
.env
.env.test

# Stores VSCode versions used for testing VSCode extensions
.vscode-test
.vscode/
